.container {
  display: flex;
  min-height: calc(100vh - 68px - 129px);
}

.sidebar {
  flex: 0 0 250px;
  min-height: 100%;
  background-color: #2c2c2c;
  color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
  box-sizing: border-box;
}

.notesWrapper {
  flex: 1;
  overflow: auto;
  min-width: 0;
}

@media screen and (max-width: 700px) {
  .block {
    display: none;
  }
}
